@media (max-width: 1120px) {
  html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@media (max-width: 992px) {
  html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
 
  .hero_area {
    height: auto;
  }

  .header_section {
    margin-top: 0;
  }

  .header_section .header_top .contact_nav {
    justify-content: space-between;
  }

}


@media (max-width: 576px) {
  html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .header_section .header_top .contact_nav a {
    margin-right: 0;
  }

  .header_section .header_top .contact_nav a span {
    display: none;
  }

  .header_section .header_top .contact_nav a i {
    font-size: 28px;
    margin: 0;
  }

  
}

@media (max-width: 480px) {
  html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@media (max-width: 420px) {
  html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@media (max-width: 376px) {
  html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@media (min-width: 1200px) {
  html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}


@media (max-width: 991.98px) {
  html,body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .sticky-top.navbar-light {
      position: relative;
      background: #FFFFFF;
  }

  .navbar-light .navbar-collapse {
      margin-top: 15px;
      border-top: 1px solid #DDDDDD;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
      padding: 10px 0;
      margin-left: 0;
      color: var(--dark) !important;
  }

  .navbar-light .navbar-brand img {
      max-height: 45px;
  }
}

@media (min-width: 992px) {
 
  .navbar-light {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      border-bottom: 1px solid rgba(256, 256, 256, .1);
      z-index: 999;
  }
  
  .sticky-top.navbar-light {
      position: fixed;
      background: #FFFFFF;
  }

  .navbar-light .navbar-nav .nav-link::before {
      position: absolute;
      content: "";
      width: 0;
      height: 2px;
      bottom: -1px;
      left: 50%;
      background: var(--primary);
      transition: .5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
      width: calc(100% - 2px);
      left: 1px;
  }

  .navbar-light .navbar-nav .nav-link.nav-contact::before {
      display: none;
  }
}