:root {
   
    --primary: #17a2b8;
    --secondary: #17A2B8;
    --light: #F5F5F5;
    --dark: #14141F;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

html,body{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

  .sub_page .hero_area {
    height: auto;
  }
  
  .sub_page .header_section {
    margin-top: 0;
  }
  
  .header_section .header_top {
    padding: 15px 0;
  }
  
  .header_section .header_top .contact_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .header_section .header_top .contact_nav a {
    margin-right: 25px;
    color: #555555;
  }
  
  .header_section .header_top .contact_nav a i {
    color: #17A2B8;
  }
  
  .header_section .header_bottom {
    background-color:#17A2B8;
  }
  

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #FFFFFF !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}


.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/pexels-photo-2541239.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}

/*** social icon options ***/

.whatsapp_option{
    position: fixed;
    bottom: 40px;
    right: 30px;
}

.whatsapp_option img{
    border-radius: 25px;
    border: 2px solid green; 
}

.insta_option{
    position: fixed;
    bottom: 100px;
    right: 30px;
}

.insta_option img{
    border-radius: 25px;
    border: 2px solid purple; 
}


.mail_option{
    position: fixed;
    bottom: 160px;
    right: 30px;
}

.mail_option img{
    border-radius: 25px;
    border: 2px solid purple; 
}


.call_option{
  position: fixed;
  bottom: 210px;
  right: 30px;
}


.call_option img{
  border-radius: 25px;
  border: 2px solid purple; 
}


/*** Destination ***/
.destination img {
    transition: .5s;
}

.destination a:hover img {
    transform: scale(1.1);
}



.product-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
   

}
/*
Show Events Carousel
*/
.owl-show-events {
    position: relative;
    margin-top: -60px;
  }
  
  .owl-show-events .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(5px);
  }
  
      
  .owl-show-events .owl-nav .owl-prev{
    position: absolute;
    left: -45px;
    outline: none;
  }
  
  .owl-show-events .owl-nav .owl-prev span,
  .owl-show-events .owl-nav .owl-next span {
    opacity: 0;
  }
  
  .owl-show-events .owl-nav .owl-prev:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #7c838b;
    font-size: 14px;
   
  }
  
  .owl-show-events .owl-nav .owl-next{
    position: absolute;
    right: -45px;
    outline: none;
  }
  
  .owl-show-events .owl-nav .owl-next:before {
    display: inline-block;
    font-family: 'FontAwesome';
    color: #7c838b;
    font-size: 14px;
    
  }
  
  
.product-item img {
    transition: .5s;
    align-items: center;
}

.product-item:hover img {
    transform: scale(1.1);
}

.product-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.product-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}


/*** Package ***/
.package-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.package-item img {
    transition: .5s;
}

.package-item:hover img {
    transform: scale(1.1);
}

/*** blog Portfolio ***/
.portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
    
  }
  
.portfolio-flters li:hover,
.portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
  }
  
  .portfolio-item img {
    transition: .5s;
  }
  
  .portfolio-item:hover img {
    transform: scale(1.1);
  }
  
  .portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background: rgba(53, 53, 53, .7);
    transition: .5s;
  }
  

  .portfolio-item:hover .portfolio-overlay {
    width: 100%;
    height: 100%;
    left: 0;
  }
.portfolio-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.portfolio-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}
.portfolio-item .portfolio-overlay .lol {
    opacity: 0;
  }
  
.portfolio-item:hover .portfolio-overlay .lol {
    opacity: 1;
  }

.portfolio-item .portfolio-overlay .btn {
    opacity: 0;
  }
  
  .portfolio-item:hover .portfolio-overlay .btn {
    opacity: 1;
  }
  
  


  .key {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 45px;
  }
  
   .key a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #17A2B8;
    color: #ffffff;
    border: 1px solid #17A2B8;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .key a:hover {
    background-color: transparent;
    color: #17A2B8;
  }
  

.intro{
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
}


/*** work***/
.work-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.work-item:hover {
    background: var(--primary);
}

.work-item * {
    transition: .5s;
}

.work-item:hover * {
    color: var(--light) !important;
}


/*** why shoping with us ***/

.why_section .box {
    text-align: center;
    margin-top: 45px;
    background-color:#f9f8f7;
    padding: 25px;
    border-radius: 5px;
  }
  
  .why_section .box .img-box {
    margin-bottom: 15px;
  }
  
  .why_section .box .img-box svg {
    width: 55px;
    height: auto;
    fill: #320b57;
  }
  
/*** Booking ***/
.booking {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/44199522.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.booking form .form-control {
    border: 1px solid #17A2B8;
    outline: #17a2b8;
   -webkit-box-shadow:var(--primary);
        box-shadow: #17A2B8;
    padding: 0 15px;
  }

/*** Testimonial ***/
.testimonial-carousel::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.testimonial-carousel::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

@media (min-width: 768px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
      width: 200px;
  }
}

@media (min-width: 992px) {
  .testimonial-carousel::before,
  .testimonial-carousel::after {
      width: 300px;
  }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #FFFFFF !important;
}
.testimonial-carousel .owl-item.center .testimonial-item .star * {
  color: yellow !important;
}

.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #CCCCCC;
  border-radius: 15px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--primary);
  border-color: var(--primary);
}


  .question_section{
    font-family: "roboto", sans-serif;
    margin: auto;

}
.question_section .accordion{
    background-color:white;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

}

.question_section .accordion i{
    font-size: 1.3rem;
}

.question_section .pannel{
    padding: 0 2rem 2rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}

.question_section .pannel p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 2rem;
}

.question_section .faq{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 1px 0;
}

.question_section .faq.active{
    border: none;
}

  
